{% extends 'base.html.twig' %}

{% block title %}Create new wallet{% endblock %}

{% block body %}
    <h2>Create new wallet</h2>
    {% include 'flash.html.twig' %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
