<h3 class="mt-5">Balances</h3>
<div class="card">
    <div class="card-body">
        <p class="mb-1">
            <b>BTC</b> {{ wallet.balance_available }} available<br>
            <b>BTC</b> {{ wallet.balance_pending }} pending
        </p>
    </div>
</div>