<h3 class="mt-5">Change passphrase</h3>
<div class="card">
    <div class="card-body">
        <form method="post" action="{{ path('app_wallet_passphrase_change', {'wallet_name': wallet_name}) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('passphrase_change' ~ wallet_name) }}">
            <div class="mb-3">
                <label for="old_passphrase" class="form-label">Old passphrase</label>
                <input type="password" class="form-control" name="old_passphrase" id="old_passphrase">
            </div>

            <div class="mb-3">
                <label for="new_passphrase" class="form-label">New passphrase</label>
                <input type="password" class="form-control" name="new_passphrase" id="new_passphrase">
            </div>

            <button class="btn btn-primary" type="submit">Change</button>
       </form>
    </div>
</div>