{% extends 'base.html.twig' %}

{% block title %}Wallet {{ wallet.name }}{% endblock %}

{% block body %}
    <h2>Wallet {{ wallet.name }}</h2>
    {% include 'flash.html.twig' %}
    {% include 'wallet/balances.html.twig' %}
    {% include 'wallet/addresses.html.twig' %}
    {% include 'wallet/transactions.html.twig' %}
{% endblock %}
