{% extends 'base.html.twig' %}

{% block title %}Wallet {{ wallet.name }}{% endblock %}

{% block body %}
    <h2>Wallet {{ wallet.name }}</h2>
    {% include 'flash.html.twig' %}
    <h3>Balances</h3>
    <div class="card">
        <div class="card-body">
            <p class="mb-1">
                <b>BTC</b> {{ wallet.balance_available }} available<br>
                <b>BTC</b> {{ wallet.balance_pending }} pending
            </p>
        </div>
    </div>
    {% include 'wallet/addresses.html.twig' %}
{% endblock %}
